* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --mine-shaft: #333;
  --mercury: #E5E5E5;
  --black: #000;
  --white: #fff;
  --royal-purple: #7943A4;
  --heliotrope: #C283F3;
  --amethyst: #9D5CD0;
}




body {
  margin: auto;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: var(--mine-shaft);
  max-width: 1920px;
  background-color: var(--white);
}

.container {
  padding: 0 160px;
}

.content {
  margin-bottom: 80px;
}

.content__section:not(:last-child) {
  margin-bottom: 80px;
}


.title {
  font-size: 48px;
  line-height: 65px;
  font-weight: inherit;
  color: var(--mine-shaft);
}

.title--big {
  font-size: 72px;
  line-height: 83px;
  font-weight: 700;
}

.title--small {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: var(--mine-shaft);
}



.title--light {
  color: var(--white)
}

.subtitle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
  color: var(--white);
}

.btn {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 18px;
  line-height: 25px;
}


.btn--purple {
  font-weight: 700;
  background-color: var(--amethyst);
  color: var(--white);
  border: 3px solid transparent;
  border-radius: 100px;
  padding: 19px 32px;
}

.btn--purple:hover {
  border: 3px solid #D1A9F0;
}

.btn--purple:focus:not(:active) {
  outline: 2px solid #C283F3;
  outline-offset: 3px;
}

.btn--purple:active {
  background-color: var(--royal-purple);
}


.link {
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.link--nav {
  font-weight: 600;
}

.header {
  background-image: url(../img/banner/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*******/
.header-top {
  display: flex;
  align-items: center;
  background-color: var(--black);
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-top__logo {
  margin-right: 173px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-top__nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  padding: 4px 6px;
}

.nav__link:active {
  color: var(--royal-purple);
}

.nav__link:focus:not(:active) {
  background-color: var(--royal-purple);
  outline: none;
}

.nav__link:hover {
  color: var(--heliotrope);
}

.header-top__login {
  padding: 6px;
}

.header-top__login:active,
.header-top__login:active path {
  color: var(--royal-purple);
  fill: var(--royal-purple);
}

.header-top__login:hover,
.header-top__login:hover path {
  color: var(--heliotrope);
  fill: var(--heliotrope);
}

.header-top__login:focus {
  outline: none;
  background-color: var(--royal-purple);
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 21px;
  background-color: rgba(0, 0, 0, 0.4);
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 98px;
}

.menu__btn {
  display: flex;
  align-items: center;
  color: var(--white);
}

.menu__btn::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../img/icon/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 3px;
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.menu__btn--active {
  color: var(--royal-purple);
  outline: none;
}

.menu__btn--active::after {
  background-image: url(../img/icon/arrow-menu-hover.svg);
  transform: rotate(180deg);
}


.menu__btn:focus-within:not(.menu__btn--active) {
  background-color: var(--royal-purple);
  outline: 6px solid var(--royal-purple);
}

.menu__btn:hover {
  color: var(--amethyst);
}

.menu__btn:hover::after {
  background-image: url(../img/icon/arrow-menu-hover.svg);
}






.search {
  display: flex;
}

.search__btn {
  display: flex;
  align-items: flex-end;
  margin-right: 8px;
}

.search__input {
  width: 220px;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  padding: 0;
}

.search__input::placeholder {
  color: var(--white);
  font-family: inherit;
}

.search__input:hover {
  border-bottom: 1px solid var(--heliotrope);
}

.search__input:focus {
  border-bottom: 1px solid var(--heliotrope);
  outline: none;
}

/*---------------------*/
.dropdown-menu {
  display: none;
  position: absolute;
  top: 46px;
  left: 0;
  padding: 40px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.4);
}

.dropdown-menu--active {
  display: block;
}

.dropdown-menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown-menu__item--img-last {
  background-image: url(../img/dropdown/1.jpg);
}

.dropdown-menu__item--img-second {
  background-image: url(../img/dropdown/2.jpg);
}

.dropdown-menu__item--img-third {
  background-image: url(../img/dropdown/3.jpg);
}

.simplebar-content {
  max-height: 300px;
}

.dropdown-menu__content {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--white);
  border: 2px solid transparent;
  padding: 0px 14px;
}

.dropdown-menu__content:hover,
.dropdown-menu__content:focus {
  border: 2px solid var(--amethyst);
}

.dropdown-menu__content:active {
  background: rgba(194, 131, 243, 0.4);
}

.simplebar-wrapper {
  height: 300px;
}

.simplebar-mask {
  top: 40px;
  bottom: 40px;
}

.simplebar-offset {
  right: 0px;
  bottom: 0px;
}

.simplebar-content {
  max-height: 220px;
  padding: 0 40px !important;
}

.simplebar-placeholder {
  height: 380px;
}

.simplebar-track {
  bottom: 40px;
  right: 20px;
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  width: 2px;
  background-color: var(--black);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0px;
  bottom: 0px;
  width: 2px;
  height: 28px;
  background-color: var(--white);
}

.simplebar-scrollbar {
  right: 2px;
}

.simplebar-scrollbar:before {
  background: none;
  border-radius: 0;
  left: 0px;
  right: 0px;
  opacity: 1;
  transition: none;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
  transition: none;
}

/*--hero--*/

.hero {
  padding-top: 70px;
  padding-bottom: 122px;
}

.hero__content {
  max-width: 600px;
}

.hero__title {
  margin-bottom: 20px;
}

.hero__subtitle {
  margin-bottom: 92px;
}

/*--about--*/
.about {
  /*outline: 1px solid red;*/
}

.about__info {
  max-width: 1080px;
}

.about__title {
  margin-bottom: 17px;
}

/*---gallery---*/
.gallery {
  outline: 1px solid red;
  padding-top: 80px;
  padding-bottom: 80px;
  /*padding: 80px 160px;*/
  background-image: url(../img/banner/gallery.jpg);
}

.gallert__contant {
  display: flex;
}

.gallery__left {
  width: 400px;
}

.gallery__title {
  margin-bottom: 15px;
}

.filter__title {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}