* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --mine-shaft: #333;
  --mercury: #E5E5E5;
  --black: #000;
  --white: #fff;
  --royal-purple: #7943A4;
  --heliotrope: #C283F3;
  --amethyst: #9D5CD0;
  --dove-gray: #666666;
  --dusty-gray: #999999;
  --biloba-flower: #D1A9F0;
  --gallery: #EAEAEA;
  --silver: #CACACA;
}




body {
  margin: auto;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: var(--mine-shaft);
  background-color: var(--white);
}

.container {
  max-width: 1700px;
  padding: 0 50px;
  margin: 0 auto;
}

.content {
  margin: 80px 0;
  /*margin-bottom: 80px;*/
}

/*
.content__section:not(:last-child) {
  margin-bottom: 70px;
}*/


.title {
  font-size: 48px;
  line-height: 65px;
  font-weight: inherit;
  /*color: var(--mine-shaft);*/
}

.title--big {
  font-size: 72px;
  line-height: 83px;
  font-weight: 700;
}

.title--small {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.title--light {
  color: var(--white)
}

.subtitle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
  color: var(--white);
}

.subtitle--small {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: var(--dusty-gray);
}

.btn {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 18px;
  line-height: 25px;
}


.btn--purple {
  font-weight: 700;
  background-color: var(--amethyst);
  color: var(--white);
  border-radius: 100px;
  padding: 22px 35px;
}

.btn--purple:hover:not(:active) {
  box-shadow: 0px 0px 0px 3px var(--biloba-flower) inset;
}

.btn--purple:focus:not(:active) {
  outline: 2px solid var(--heliotrope);
  outline-offset: 3px;
}

.btn--purple:active {
  background-color: var(--royal-purple);
  box-shadow: 0px 0px 0px 3px var(--biloba-flower) inset;
}

.btn--form {
  color: var(--amethyst);
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0px 0px 0px 2px var(--amethyst) inset;
  border-radius: 100px;
  padding: 10px 35px;
}

.btn--form:hover {
  background-color: var(--amethyst);
  color: var(--white);
}

.btn--form:focus:not(:active) {
  outline: 2px solid var(--heliotrope);
  outline-offset: 3px;
}

.btn--form:active {
  box-shadow: 0px 0px 0px 3px var(--biloba-flower) inset;
  background-color: var(--amethyst);
  outline: none;
  border: none;
}

.link {
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.link--nav {
  font-weight: 600;
}

.link--purple {
  position: relative;
  font-size: 16px;
  color: var(--amethyst);
  margin-right: auto;
}

.link--purple::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -5px;
}

.link--purple:hover {
  color: var(--amethyst);
}

.link--purple:hover::before {
  border-bottom: 1px solid var(--amethyst);
}

.link--purple:active {
  color: var(--royal-purple);
  outline: none;
}

.link--purple:active::before {
  border-bottom: 1px solid var(--royal-purple);
}



/*
.link--purple:focus:not(:active) {
  color: var(--white);
  background-color: var(--amethyst);
  border: 5px solid var(--amethyst);
  outline: none;
}*/

.link--purple:focus:not(:active) {
  color: var(--white);
  outline: none;
}


.link--purple:focus:not(:active)::before {
  background-color: var(--amethyst);
  height: 28px;
  bottom: -3px;
  left: -5px;
  z-index: -2;
  width: calc(100% + 10px);
}

.link--detail {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  color: var(--amethyst);
  margin-right: auto;
}

.link--detail::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0px;
  border-bottom: 1px solid var(--amethyst);
}

.link--detail:hover {
  color: var(--royal-purple);
}

.link--detail:hover::before {
  border-bottom: 1px solid var(--royal-purple);
}

.link--detail:focus:not(:active) {
  color: var(--white);
  background-color: var(--amethyst);
  outline: none;
}

.link--detail:focus:not(:active)::before {
  background-color: rgb(157, 92, 208);
  height: 32px;
  bottom: 0px;
  left: -5px;
  z-index: -2;
  width: calc(100% + 10px);
}

.link--detail:active {
  color: black;
  outline: none;
}

.link--detail:active::before {
  border-bottom: 1px solid black;
}

/*******/

.top-wrapper {
  position: relative;
  margin-bottom: 80px;
}

.header {
  position: relative;
  z-index: 1;
}

.header-top {
  background-color: var(--black);
}

.header-top__container {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*--------------------burger--------------------*/

.header-top__burger-button {
  display: none;
  height: 23px;
  width: 30px;
  z-index: 2;
}

.header-top__burger-button:focus {
  /*outline: 2px solid #FF9900;
  outline-offset: 5px;*/
}

.burger-icon {
  width: 36px;
  height: 23px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.burger-icon .line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.2s ease-in-out;
  position: relative;
  right: 0px;
}

.burger-icon .line:nth-child(2) {
  width: 80%;
}

.burger-icon .line:nth-child(3) {
  width: 65%;
}

.burger-icon-active .line {
  background-color: #fff;
  width: 100%;
}

.burger-icon-active .line:nth-child(1) {
  width: 100%;
  top: 10px;
  transform: rotate(45deg);
}

.burger-icon-active .line:nth-child(2) {
  width: 0;
}

.burger-icon-active .line:nth-child(3) {
  width: 100%;
  top: -10px;
  transform: rotate(-45deg);
}

.burger__menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 80px 50px 20px;
  background-color: rgba(0, 0, 0, .9);
  transform: translateX(-101%);
  transition: transform .3s ease-in-out;
}

.burger__menu-active {
  transform: none;
}

.burger__list {}

.burger__item {
  margin-bottom: 15px;
}

.burger__link {
  color: #fff;
  font-weight: 400;
}

.header-top__logo {
  margin-right: 180px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.header-top__nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: calc(19px + (62 - 19) * ((100vw - 1024px)/ (1920 - 1024)));
}

.nav__link {
  position: relative;
  z-index: 2;
}

.nav__link:focus:not(:active) {
  outline: none;
}

.nav__link:focus:not(:active):before {
  position: absolute;
  content: "";
  background-color: var(--royal-purple);
  top: -2px;
  left: -7px;
  height: 30px;
  width: calc(100% + 14px);
  z-index: -1;
}

.nav__link:active {
  color: var(--royal-purple);
}

.nav__link:hover:not(:active) {
  color: var(--heliotrope);
}

.header-top__login {
  position: relative;
  z-index: 2;
}

.header-top__login:active,
.header-top__login:active path {
  color: var(--royal-purple);
  fill: var(--royal-purple);
}

.header-top__login:hover:not(:active),
.header-top__login:hover:not(:active) path {
  color: var(--heliotrope);
  fill: var(--heliotrope);
}

.header-top__login:focus:not(:active) {
  outline: none;
}

.header-top__login:focus:not(:active):before {
  position: absolute;
  content: "";
  background-color: var(--royal-purple);
  top: -2px;
  left: -7px;
  height: 30px;
  width: calc(100% + 14px);
  z-index: -1;
}

.header-bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 21px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: calc(10px + (95 - 10) * ((100vw - 1024px)/ (1920 - 1024)));
}

.menu__btn {
  display: flex;
  align-items: center;
  color: var(--white);
  position: relative;
  z-index: 2;
}

.menu__btn::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../img/icon/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 3px;
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.menu__btn.active {
  color: var(--royal-purple);
  outline: none;
}

.menu__btn.active::after {
  background-image: url(../img/icon/arrow-menu-hover.svg);
  transform: rotate(180deg);
}

.menu__btn:focus:not(.menu__btn.active):not(:hover) {
  outline: none;
  color: var(--white);
}

.menu__btn:focus:not(.menu__btn.active):not(:hover)::before {
  position: absolute;
  content: "";
  background-color: var(--royal-purple);
  top: -6px;
  left: -6px;
  height: 36px;
  width: calc(100% + 12px);
  z-index: -1;
}

.menu__btn:hover {
  color: var(--amethyst);
}

.menu__btn:hover::after {
  background-image: url(../img/icon/arrow-menu-hover.svg);
}

/*-----*/
.header-top__search {
  position: absolute;
  right: 30px;
  display: none;
  align-items: center;
  padding: 20px 60px 20px 20px;
  border-radius: 10px;
  transform-origin: right;
}

/*-----*/

.search {
  display: flex;
}

.search__btn {
  display: flex;
  align-items: flex-end;
  margin-right: 8px;
}

.btn--close {
  display: none;
  z-index: 2;
}

.btn--close::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/icon/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn--close-active::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/icon/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.form-active {
  display: block;
}

.search__input {
  width: 220px;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  padding: 0;
}

.search__input::placeholder {
  color: var(--white);
  font-family: inherit;
}

.search__input:hover {
  border-bottom: 1px solid var(--heliotrope);
}

.search__input:focus {
  border-bottom: 1px solid var(--heliotrope);
  outline: none;
}

/*---------------------*/
.dropdown-menu {
  display: none;
  position: absolute;
  top: 46px;
  left: 0;
  padding: 40px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.4);
}

.dropdown-menu.active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.dropdown-menu.disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.dropdown-menu__item:not(:last-child) {
  margin-bottom: 20px;
}


@keyframes dropdownOpen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


/*1*/
.dropdown-menu__item--img-tintoretto {
  background-image: url(../img/dropdown/tintoretto.jpg);
}

.dropdown-menu__item--img-fridrikh {
  background-image: url(../img/dropdown/fridrikh.jpg);
}

.dropdown-menu__item--img-leonardo {
  background-image: url(../img/dropdown/leonardo.jpg);
}

.dropdown-menu__item--img-verrokko {
  background-image: url(../img/dropdown/verrokko.jpg);
}

/*2*/

.dropdown-menu__item--img-mone {
  background-image: url(../img/dropdown/mone.jpg);
}

.dropdown-menu__item--img-sisley {
  background-image: url(../img/dropdown/sisley.jpg);
}

.dropdown-menu__item--img-mane {
  background-image: url(../img/dropdown/mane.jpg);
}

.dropdown-menu__item--img-renuar {
  background-image: url(../img/dropdown/renuar.jpg);
}

/*3*/

.dropdown-menu__item--img-vangog {
  background-image: url(../img/dropdown/vangog.jpg);
}

.dropdown-menu__item--img-sezann {
  background-image: url(../img/dropdown/sezann.jpg);
}

.dropdown-menu__item--img-gogen {
  background-image: url(../img/dropdown/gogen.jpg);
}

.dropdown-menu__item--img-sora {
  background-image: url(../img/dropdown/sora.jpg);
}

/*4*/
.dropdown-menu__item--img-kandinskiy {
  background-image: url(../img/dropdown/kandinskiy.jpg);
}

.dropdown-menu__item--img-marinetti {
  background-image: url(../img/dropdown/marinetti.jpg);
}

.dropdown-menu__item--img-malevich {
  background-image: url(../img/dropdown/malevich.jpg);
}

.dropdown-menu__item--img-pikasso {
  background-image: url(../img/dropdown/pikasso.jpg);
}

/*5*/
.dropdown-menu__item--img-karra {
  background-image: url(../img/dropdown/karra.jpg);
}

.dropdown-menu__item--img-pratella {
  background-image: url(../img/dropdown/pratella.jpg);
}

.dropdown-menu__item--img-severini {
  background-image: url(../img/dropdown/severini.jpg);
}

.dropdown-menu__item--img-bala {
  background-image: url(../img/dropdown/bala.jpg);
}

.dropdown-menu__content {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--white);
  border: 2px solid transparent;
  padding: 0px 14px;
}

.dropdown-menu__content:hover,
.dropdown-menu__content:focus {
  border: 2px solid var(--amethyst);
  outline: none;
}

.dropdown-menu__content:active {
  background: rgba(194, 131, 243, 0.4);
}

.simplebar-wrapper {
  height: 300px;
}


.simplebar-mask {
  top: 40px;
  bottom: 40px;
}

.simplebar-offset {
  right: 0px;
  bottom: 0px;
}

.simplebar-content-wrapper {
  outline: none;
}

.simplebar-content {
  max-height: 220px;
  padding: 0 40px !important;
}

.simplebar-placeholder {
  height: 380px;
}

.simplebar-track {
  bottom: 40px;
  right: 20px;
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  width: 2px;
  background-color: var(--black);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0px;
  bottom: 0px;
  width: 2px;
  height: 28px;
  background-color: var(--white);
}

.simplebar-scrollbar {
  right: 2px;
}

.simplebar-scrollbar:before {
  background: none;
  border-radius: 0;
  left: 0px;
  right: 0px;
  opacity: 1;
  transition: none;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
  transition: none;
}

/*---------------------------------------hero---------------------------------------*/

.hero {
  position: relative;
  padding-top: 70px;
  padding-bottom: 122px;
}

.hero__content {
  max-width: 600px;
}

.hero__title {
  margin-bottom: 20px;
}

.hero__subtitle {
  margin-bottom: 92px;
}

.swiper--header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.swiper-slide--header {
  background-size: cover;
  filter: grayscale(30%);
}

.banner-1 {
  background-image: url(../img/banner/banner-1920-1.jpg);
}

.banner-2 {
  background-image: url(../img/banner/banner-1920-2.jpg);
}

.banner-3 {
  background-image: url(../img/banner/banner-1920-3.jpg);
}

/*-----------------------------------about-----------------------------------*/
.about {
  margin-bottom: 70px;
}

.about__info {
  max-width: 1080px;
}

.about__title {
  margin-bottom: 17px;
}

/*----------------------------------gallery----------------------------------*/
.gallery {
  background-image: url(../img/gallery/gallery-1920.jpg);
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 80px;
}

.gallert__container {
  display: flex;
}

.gallery__left {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.gallery__title {
  margin-bottom: 15px;
}

.filter__title {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.gallery__slider {
  width: 72%;
  padding-top: 25px;
}

.gallery__nav {
  margin-bottom: 28px;
}

.gallery-nav {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.swiper--gallery {
  height: 350px;
}

.swiper-button-next--gallery, .swiper-button-prev--gallery {
  position: static;
  width: 30px;
  height: 30px;
  background-color: var(--dove-gray);
  border: 2px solid transparent;
  border-radius: 15px;
  margin: 0;
}

.swiper-button-next--gallery::after,
.swiper-button-prev--gallery::after {
  display: block;
  font-size: 10px;
  color: var(--white);
}

.swiper-button-next--gallery:hover,
.swiper-button-prev--gallery:hover {
  background-color: var(--amethyst);
}

.swiper-button-next--gallery:focus,
.swiper-button-prev--gallery:focus {
  background-color: var(--dove-gray);
  outline: 2px solid var(--black);
}

.swiper-button-next--gallery:active,
.swiper-button-prev--gallery:active {
  background-color: var(--royal-purple);
  border: 2px solid var(--black);
}


.swiper-pagination-gallery {
  position: static;
  display: block;
  color: var(--white);
}

.swiper-pagination-fraction-gallery {
  width: 70px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}


.gallery__checkbox {
  margin-top: auto;
}


.checkbox-label {
  display: block;
  position: relative;
  color: var(--white);
  cursor: pointer;
  padding-left: 25px;
}

.checkbox-label:hover,
.checkbox-label:focus {
  color: var(--heliotrope);
  outline: none;
}

.checkbox-label:hover span,
.checkbox-label:focus span {
  border: 1px solid var(--heliotrope);
}

.check {
  display: none;
}

.check+span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  border: 1px solid var(--white);
  background-repeat: no-repeat;
  background-position: center center;
}

.check:checked+span {
  background-image: url(../img/icon/check-ellipse.svg);
  border: 1px solid var(--heliotrope);
}

.check:checked+.checkbox-label {}

/*-------------------------------catalog-------------------------------*/
.catalog {
  margin-bottom: 80px;
}

.catalog__info {
  max-width: 1080px;
  margin-bottom: 40px;
}

.catalog__title {
  margin-bottom: 16px;
}

.catalog__content {
  display: flex;
}

.card__person {
  margin-right: 50px;
}

.person {
  display: none;
  width: 47%;
}

.person-ac {
  display: block;
}

.person__img {
  display: block;
  margin-bottom: 30px;
}

.pepson__live {}

/*---------------------------------accordion---------------------------------*/

.accordion {
  width: 50%;
}

.question__title-btn {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
}

.btn--accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  outline: none;
  padding: 31px 0 32px;
}

.btn--accordion::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../img/icon/arrow-big.svg);
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  background-color: var(--gallery);
  border-radius: 25px;
  transition: transform .5s;
}

.ui-accordion-header {
  border-top: 1px solid var(--silver);
  border-bottom: 1px solid var(--silver);
}

.ui-accordion-header:hover {
  color: var(--amethyst);
  border-top: 1px solid var(--amethyst);
  border-bottom: 1px solid var(--amethyst);
}

.ui-accordion-header:focus {
  border-top: 1px solid var(--amethyst);
  border-bottom: 1px solid var(--amethyst);
}

.ui-accordion-header:focus:not(.ui-accordion-header-active) .title {
  color: var(--white);
  background-color: var(--amethyst);
}

.ui-accordion-header-active {
  color: var(--royal-purple);
  border-top: 1px solid var(--royal-purple);
  border-bottom: 1px solid var(--royal-purple);
}

.ui-accordion-header-active::after {
  transition: transform .5s;
  transform: rotate(180deg);
  outline: 2px solid var(--amethyst);
}

.ui-accordion-header:hover::after,
.ui-accordion-header:focus::after {
  background-color: var(--biloba-flower);
}


.ui-accordion-content {
  padding: 25px 0;
  max-width: 1003px;
  column-count: 3;
}

.ui-accordion-content--none {
  display: flex;
  max-width: 550px;
  column-count: auto;
}

.ui-accordion-content__img {
  max-width: 250px;
  height: 165px;
  margin-right: 25px;
  outline: 1px solid #B7B7B7;
  border: 12px solid transparent;
}

.ui-accordion-content__info {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.ui-accordion-content__title {
  margin-bottom: 5px;
}

.ui-accordion-content__text {
  line-height: 22px;
  margin-bottom: 5px;
}

/*-------------------------------------tab-------------------------------------*/
.btn-person {
  font-size: 16px;
  line-height: 32px;
  position: relative;
}

.btn-person::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.btn-person:hover {
  color: var(--heliotrope);
}

.btn-person:hover::after {
  border-bottom: 1px solid var(--heliotrope);
}

.btn-person:focus {
  color: var(--white);
  background-color: var(--amethyst);
  outline: none;
}

.btn-person-active {
  color: var(--royal-purple);
}

/*-------------------------------events-------------------------------*/
.events {
  margin-bottom: 80px;
}

.events__title {

  margin-bottom: 15px;
}

.events__slider {
  position: relative;
}

.swiper--events {}


.events-card {
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid var(--silver);
  padding: 315px 50px 40px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.first-event {
  background-image: url(../img/events/1920/events1.jpg);
}

.second-event {
  background-image: url(../img/events/1920/events2.jpg);
}

.third-event {
  background-image: url(../img/events/1920/events3.jpg);
}

.fourth-event {
  background-image: url(../img/events/1920/events4.jpg);
}

.fifth-event {
  background-image: url(../img/events/1920/events5.jpg);
}

.events-card__figcaption {
  margin-bottom: 15px;
}

.events-card__figcaption-text {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--dusty-gray);
}

.events-card__title {
  margin-bottom: 10px;
}

.events-card__text {
  margin-bottom: 65px;
}

.events-card__link {
  margin-top: auto;
}

.swiper-button-next--events, .swiper-button-prev--events {
  top: 47%;
  width: 50px;
  height: 50px;
  background-color: var(--gallery);
  border: 2px solid transparent;
  border-radius: 30px;
  margin: 0;
}


.swiper-button-next--events {
  right: -25px;
}

.swiper-button-prev--events {
  left: -25px;
}


.swiper-button-next--events::after, .swiper-button-prev--events::after {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
}

.swiper-button-next--events:hover, .swiper-button-prev--events:hover {
  background-color: var(--biloba-flower);
}

.swiper-button-next--events:focus, .swiper-button-prev--events:focus {
  outline: 2px solid var(--amethyst);
}

.swiper-button-disabled--events {
  opacity: 0;
}


.swiper-pagination-events {
  display: none;
  position: initial;
}


.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 7px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--dove-gray);
}

/*-------------------------------project-------------------------------*/
.project {
  margin-bottom: 80px;
}

.project__title {
  margin-bottom: 15px;
}

.project__info {
  max-width: 1058px;
  margin-bottom: 22px;
}

.project__subtitle {
  margin-bottom: 23px;
}

.tooltip {
  position: relative;
  display: inline-flex;
  max-width: 16px;
  height: 16px;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  max-width: 163px;
  background-color: var(--dove-gray);
  font-size: 12px;
  line-height: 16px;
  color: var(--white);
  text-align: center;
  padding: 7px 15px;
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--dove-gray) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip svg:hover {
  fill: var(--biloba-flower);
}

.tooltip:focus-within {
  outline: none;
}

.tooltip:focus svg {
  fill: var(--biloba-flower);
}

.tooltip:focus .tooltiptext {
  visibility: visible;
}

.swiper--project {}

.swiper-button-prev--project,
.swiper-button-next--project {
  position: absolute;
  top: 55%;
}

.project__slider {
  padding: 0 75px;
  position: relative;
}


.project__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--silver);
  height: 150px;
}

.img--project {
  display: block;
  object-fit: contain;
  width: 65%;
  height: 65%;
  filter: grayscale(1);
  opacity: 0.3;
  transition: .2s ease-in-out;
}

.img--project:hover {
  opacity: 1;
  filter: grayscale(0);
}

.project__item:focus {
  border: 1px solid var(--amethyst);
  outline: none;
}

.swiper-button-prev--project,
.swiper-button-next--project {
  width: 30px;
  height: 30px;
  background-color: var(--gallery);
  border: 2px solid transparent;
  border-radius: 30px;
}

.swiper-button-prev--project {
  left: 0;
}

.swiper-button-next--project {
  right: 0;
}

.swiper-button-next--project::after, .swiper-button-prev--project::after {
  font-weight: 600;
  font-size: 12px;
  color: var(--black);
}

.swiper-button-next--project:hover, .swiper-button-prev--project:hover {
  background-color: var(--biloba-flower);
}

.swiper-button-next--project:focus, .swiper-button-prev--project:focus {
  outline: 2px solid var(--amethyst);
}


/*-------------------------contacts-------------------------*/
.contacts {
  border: 1px solid var(--silver);
  padding: 38px 0;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
}

.form__item {
  display: flex;
  position: relative;
  margin-right: 15px;
}

.item-form {
  height: 50px;
  width: 270px;
  border: 1px solid var(--mine-shaft);
  border-radius: 100px;
  padding-left: 25px;

}

.js-validate-error-label {
  position: absolute;
  font-size: 12px;
  top: -25px;
  left: 25px;
}


::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 32px;
  color: var(--dusty-gray);
}

.item-form:hover {
  background-color: var(--gallery);
}

.btn-big {
  display: inline;
}

.btn-small {
  display: none;
}

.feedback__title {
  margin-bottom: 5px;
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.link--social {
  display: block;
  height: 40px;
  width: 40px;
  outline: none;
}

.link--social:hover:not(:active),
.link--social:focus:not(:active) {
  opacity: 0.5;
}

.link--social:active .first-path {
  stroke: var(--royal-purple);
  stroke-width: 1px;

}

.map {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/*-----------------------------------footer-----------------------------------*/
.footer {
  background-color: var(--black);
  padding: 45px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link--social-footer {
  display: block;
  height: 45px;
  width: 45px;
  outline: none;
}

.link--social-footer:hover:not(:active) path,
.link--social-footer:focus:not(:active) path {
  fill: var(--white);
}

.link--social-footer:active path {
  fill: var(--amethyst);
}



/*------------------------------------1660------------------------------------*/
@media (max-width: 1660px) {
  .btn-big {
    display: none;
  }

  .btn-small {
    display: inline;
  }
}


/*------------------------------------1024------------------------------------*/
@media (max-width: 1439px) {

  /*----------------------------------header----------------------------------*/
  .header-top__container {
    justify-content: space-between;
  }

  .header-top__logo {
    margin-right: 0px;
  }

  .header-top__burger-button {
    display: block;
  }

  .header-top__nav {
    display: none;
  }

  .header-top__login {
    display: none;
  }

  .header-bottom {
    display: none;
  }

  .burger__menu {
    display: block;
  }

  .btn--close {
    display: block;
  }

  /*-------------------------------hero-------------------------------*/
  .hero {
    padding-top: 112px;
    padding-bottom: 115px;
  }

  .hero__content {
    max-width: 660px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__subtitle {
    margin-bottom: 135px;
  }

  .banner-1 {
    background-image: url(../img/banner/banner-1024-1.jpg);
  }

  .banner-2 {
    background-image: url(../img/banner/banner-1024-2.jpg);
  }

  .banner-3 {
    background-image: url(../img/banner/banner-1024-3.jpg);
  }

  /*------------------------------------gallery------------------------------------*/
  .gallery {
    background-image: url(../img/gallery/gallery-1024.jpg);
  }

  .swiper--gallery {
    height: 315px;
  }

  .gallery__left {
    width: 36%;
  }

  .gallery__slider {
    width: 64%;
  }

  .gallery-nav {
    padding-left: 0px;
  }

  .gallery__checkbox {
    margin-bottom: 35px;
  }

  /*---catalog---*/
  .person {
    width: 50%;
  }

  .ui-accordion-content {
    column-count: 2;
  }

  /*------------------------------------event------------------------------------*/
  .events__list {
    margin-bottom: 20px;
  }

  .events-card {
    padding: 216px 32px 48px;
  }

  .first-event {
    background-image: url(../img/events/1024/events1.jpg);
  }

  .second-event {
    background-image: url(../img/events/1024/events2.jpg);
  }

  .third-event {
    background-image: url(../img/events/1024/events3.jpg);
  }

  .fourth-event {
    background-image: url(../img/events/1024/events4.jpg);
  }

  .fifth-event {
    background-image: url(../img/events/1024/events5.jpg);
  }

  .events-card__figcaption {
    text-align: right;
    margin-bottom: 5px;
  }

  .events-card__text {
    margin-bottom: 20px;
  }


  .swiper-pagination-events {
    display: block;
  }

  /*----------------------------------events----------------------------------*/
  .events {
    margin-bottom: 68px;
  }

  .project__slider {
    padding: 0 50px;
  }

  .project__item {
    height: 130px;
  }

  /*----------------------------------contacts----------------------------------*/
  .contacts__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts__adress {
    margin-bottom: 35px;
  }

  .btn--form {
    padding: 10px 42px;
  }

  .btn-big {
    display: inline;
  }

  .btn-small {
    display: none;
  }

  .form {
    margin-bottom: 30px;
  }

  .form__item {
    margin-right: 20px;
  }


  /*-------------------------------------map------------------------------------*/
  .map {
    height: 705px;
  }

  /*-----------------------------------footer----------------------------------*/
  .footer {
    padding: 40px 0;
  }

  .social__item:not(:last-child) {
    margin-right: 30px;
  }

  .link--social-footer,
  .link--social-footer svg {
    width: 60px;
    height: 60px;
  }


}